.modalContainer {
  height: 350px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modalContainer::-webkit-scrollbar {
  width: 5px;
}

.modalContainer::-webkit-scrollbar-track-piece {
  background: #f9fafb;
}

.modalContainer::-webkit-scrollbar-thumb {
  background: #eee;
}